{{#paper-toolbar class="main-toolbar"}}
  {{#paper-toolbar-tools}}
  {{#paper-sidenav-toggle name="left" as |toggleAction|}}
    {{#paper-button iconButton=true onClick=(action toggleAction) data-test-home-menu=true}}
      {{paper-icon "menu"}}
    {{/paper-button}}
  {{/paper-sidenav-toggle}}
    <h2>
      D
    </h2>
    <span class="flex"></span>
    {{#paper-button iconButton=true}}
      {{paper-icon "more_vert"}}
    {{/paper-button}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

{{#paper-sidenav
  class="md-whiteframe-z2 main-nav"
  name="left"
  position="left"
  open=leftSideBarOpen
  lockedOpen=false
  onToggle=(action (mut leftSideBarOpen))}}
  {{#paper-toolbar class="sidenav-header" as |toolbar|}}
    {{#paper-toolbar-tools data-test-main-navigation-open=leftSideBarOpen}}{{/paper-toolbar-tools}}
  {{/paper-toolbar}}
  {{#paper-content padding=true}}
    <ul class="nav-items">
      {{#each model as |chapter|}}
        <li class="nav-item" data-test-chapter={{chapter.id}}>{{#link-to 'chapters.chapter' chapter.id}}{{chapter.name}}{{/link-to}}</li>
      {{/each}}
    </ul>
  {{/paper-content}}
{{/paper-sidenav}}

<div class="container">
  {{outlet}}
</div>
